.page {
    background-color: #fafcff;
    //width: 100%;
    height: 500px;
    &-upper {

    }
    &-lower {
        //width:100%;
        &-left {
            width: 50%;
            background-color: red;
        }
        &-right {
            width: 50%;
            background-color: yellow;
        }
    }
}