.page {
    background-color: #fafcff;
    &-upper {
        &-left {
            //width: 50%;
        }
        &-right {
            //width: 50%;
            img {
                padding-top: 10px;
                padding-bottom: 10px;
            } 
        }
    }
    &-lower {
        &-left {
            //width: 50%;
        }
        &-right {
            //width: 50%;
        }
    }
}