.page {
    background-color: #fafcff;
    &-title {
        padding-top: 10px;
    }
    &-upper {
        &-left {
        }
        &-right {
            > img {
                padding-bottom: 10px
            }
        }
    }
    &-lower {
        &-left {
        }
        &-right {
        }
    }
}